<div class="contents row">
  <%= form_tag('/porkerhands', method: :post) do %>
      <h3>
        Check a Porker Hand </h3>
      <input placeholder="S10 H11 D12 D13 H1" type="text" name="card"> <input type="submit" value="check">
  <%= @result %>
  <% end %>

</div>
